body{
  background-color: #5a078e;
  font-family: "Comic Sans", Arial;
}

nav ul li{
  display: inline-block;
}

.ewk_cont_banner{
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/933794.jpg");
}

nav ul{
    padding: 4%;
}

nav ul li{
    display: inline;
}

nav ul li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff
}

nav ul li a:hover{
    background-color: #2586d7;
    margin-top: -2px;
    padding-bottom: 12px;
}
