body{
  background-color: #5a078e;
  font-family: "Comic Sans", Arial;
}

nav ul li{
  display: inline-block;
}

.ewk_cont_banner{
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/933794.jpg");
}

footer{
    clear: both;
}

@media(min-width: 601px) and (max-width:1000px){
    body{
        font-family: Arial, sans-serif;
      }
    aside{
        float: left;
        width: 40%;
        clear: both;
    }
    section{
        float: left;
        width: 60%;
    }
}
